---
//utils import
import { slugify, filterArticlePost } from '../../utils/functions';

//components & layouts
import Layout from '../../layouts/Layout.astro';
import PostCard from '../../components/PostCard.astro';
import { getCollection, CollectionEntry } from 'astro:content';

//Dynamic paths
export function getStaticPaths() {
    return [
        {
            params: { category: slugify('Arkitektur') },
            props: { name: 'Arkitektur' },
        },
        {
            params: { category: slugify('Annat') },
            props: { name: 'Annat' },
        },
    ];
}

const { category } = Astro.params;
const { name } = Astro.props;

//filter
const allPosts = await getCollection('articles');
const formatedPosts: CollectionEntry<'articles'>[] = filterArticlePost(allPosts);
const categoryPost = formatedPosts.filter((post) => slugify(post.data.category) === category);
---

<Layout title={name}>
    <section aria-label={`artiklar om ${name}`}>
        <header>
            <h1 class='text-center text-gray-500 font-semibold text-5xl mt-10'>
                Artiklar om {name}
            </h1>
        </header>
        <div class='flex flex-col items-center justify-center m-5'>
            {categoryPost.map((post) => <PostCard data={post.data} url={post.slug} />)}
        </div>
    </section>
</Layout>
