---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
const { title, sectiontitles, sections, date, author, tags, sources } = frontmatter;
---

<Layout title='posts'>
    <header>
        <div>
            <h1 class='m-5 text-3xl text-center font-extrabold text-black dark:text-white'>{title}</h1>
        </div>
        <img />
    </header>
    <div class='flex flex-col items-center justify-center'>
        {
            sectiontitles.map((item, index) => (
                <div class='flex flex-col w-2/5 text-justify'>
                    <h1 class='text-left font-bold text-black dark:text-white my-2'>{sectiontitles[index]}</h1>
                    <p class='text-gray-500'>{sections[index]}</p>
                </div>
            ))
        }
        <p class='text-gray-400 mt-4 font-light'>Written by: {author}</p>
        <p class='text-gray-400 mb-4 font-light'>{date}</p>
    </div>
</Layout>
